@mixin mobile {
  @media screen and (width <= 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (width > 480px) and (width < 768px) {
    @content;
  }
}


  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;

  @include mobile {
    display: none;
  }

  h2 {
    font-weight: bold;
    color: gray;
    font-size: 2rem;
  }

  .sidebarProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .img {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }

      .name {
        display: flex;
        flex-direction: column;
        gap: 5px;

        h3 {
          font-size: 1rem;
          color: black;
          font-weight: normal;
        }

        span {
          font-weight: bold;
          font-size: 1rem;
          color: gray;
        }
      }
    }

    button {
      border: none;
      padding: 10px;
      font-weight: bold;
      color: #05b1f6;
      cursor: pointer;
      background-color: transparent;
    }
  }
}