.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    gap: 20px;

    .left {
        flex: 4;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .right {
        flex: 2;
    }
}